<div class="question-form">
    <fieldset class="fieldset">
        <div class="question-title">
            <h2>Exercise</h2>
            <p>復習問題を解きましょう</p>
        </div>
        
        <div class="questions">
            <div class="question1">           
                <label>Question１</label>
                <ul>
                    <li><label><%= f.radio_button :level, "1" %>初級</label></li>
                    <li><label><%= f.radio_button :level, "2" %>中級</label></li>
                    <li><label><%= f.radio_button :level, "3" %>上級</label></li>
                    <li><label><%= f.radio_button :level, "4" %>上級</label></li>
                </ul>
            </div>

            <div class="question2">           
                <label>Question２</label>
                <ul>
                    <li><label><%= f.radio_button :level, "1" %>初級</label></li>
                    <li><label><%= f.radio_button :level, "2" %>中級</label></li>
                    <li><label><%= f.radio_button :level, "3" %>上級</label></li>
                    <li><label><%= f.radio_button :level, "4" %>上級</label></li>
                </ul>
            </div>

            <div class="question3">           
                <label>Question３</label>
                <ul>
                    <li><label><%= f.radio_button :level, "1" %>初級</label></li>
                    <li><label><%= f.radio_button :level, "2" %>中級</label></li>
                    <li><label><%= f.radio_button :level, "3" %>上級</label></li>
                    <li><label><%= f.radio_button :level, "4" %>上級</label></li>
                </ul>
            </div>

            <div class="question4">           
                <label>Question４</label>
                <ul>
                    <li><label><%= f.radio_button :level, "1" %>初級</label></li>
                    <li><label><%= f.radio_button :level, "2" %>中級</label></li>
                    <li><label><%= f.radio_button :level, "3" %>上級</label></li>
                    <li><label><%= f.radio_button :level, "4" %>上級</label></li>
                </ul>
            </div>
        </div>

       <!--  <div class="clear"></div> -->
     
        <input type="submit" value="提出", class="btn btn-pink">

    </fieldset>
</div>