
<div id="question">
    <fieldset class="fieldset">
        <div id="test">
            <div class="form-title">
                <label>第１問</label>  
                <%= f.text_field :title %>
            </div>
            <div class="form-sumnail">
                <label>第２問</label>
                <%= f.file_field :userfile %>
            </div>
            <div class="form-discription">
                <label>第３問</label>
                <%= f.text_area :description, :size=>"60x10" %>
            </div>
        </div>
        
        <div class="radio-button">
            <label><%= f.radio_button :level, "1" %>初級</label>
            <label><%= f.radio_button :level, "2" %>中級</label>
            <label><%= f.radio_button :level, "3" %>上級</label>
        </div>

       <!--  <div class="clear"></div> -->
     
        <input type="submit" value="回答する", class="btn btn-pink">

    </fieldset>
</div>
