  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= slide.title %></td>
        <td><%= slide.body %></td>
        <td><%= slide_image_for slide %></td>
        <td><%= link_to 'Show', category_tutorial_slide_path(category_id: params[:id], tutorial_id: params[:id], id: slide.id) %></td>
        <td><%= link_to 'Edit', edit_category_tutorial_slide_path(category_id: params[:id], tutorial_id: params[:id], id: slide.id) %></td>
        <td><%= link_to 'Destroy', category_tutorial_slide_path(category_id: params[:id], tutorial_id: params[:id], id: slide.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>