  <div class="titles2">
    <h1><%= slide.title %></h1>
    <p><%= slide.body %></p>
  </div>

  <div class="edit">
    <%= link_to 'Show', tutorial_slide_path(tutorial_id: params[:id], id: slide.id) %>
    <%= link_to 'Edit', edit_tutorial_slide_path(tutorial_id: params[:id], id: slide.id) %>
    <%= link_to 'Destroy', tutorial_slide_path(tutorial_id: params[:id], id: slide.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

  <div class="clear"></div>



  <div class="contents">
    <div class="youtube">
          <%= render 'slides/video', slide: slide %>  
    </div>

    <div class="slideshare">
      <%= slide.slideshare.html_safe %>
    </div>
  </div>

 
