  <div class="titles2">
    <h1><%= slide.title %></h1>
    <p><%= slide.body %></p>
  </div>

  <div class="edit">
    <%= link_to 'Show', tutorial_slide_path(tutorial_id: params[:id], id: slide.id) %>
    <%= link_to 'Edit', edit_tutorial_slide_path(tutorial_id: params[:id], id: slide.id) %>
    <%= link_to 'Destroy', tutorial_slide_path(tutorial_id: params[:id], id: slide.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

  <div class="clear"></div>



  <div class="contents">
          <div class="youtube">
            <%= slide.youtube.html_safe %>  

            <div class="youtube-btn">

              <%= link_to '前へ', tutorial_video_path(id: slide.tutorial_id, slide_order: slide.order - 1), class: "btn btn-pink2" %>
              <%= render 'completes/complete_btn', slide: slide %>
              <%= link_to '完了', tutorial_video_path(id: slide.tutorial_id, slide_order: slide.order), remote: true, id: 'video_link', class: "btn btn-pink2" %>
              <%= link_to '次へ', tutorial_video_path(id: slide.tutorial_id, slide_order: slide.order + 1), class: "btn btn-pink2" %>
            </div>
          </div>

          <div class="slideshare">
            <%= slide.slideshare.html_safe %>
          </div>
  </div>

 
