<div class="wrapper">
  <h1>Listing slides</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.title %></td>
        <td><%= slide.body %></td>
        <td><%= slide_image_for slide %></td>
        <td><%= link_to 'Show', tutorial_slide_path(tutorial_id: params[:tutorial_id], id: slide.id) %></td>
        <td><%= link_to 'Edit', edit_tutorial_slide_path(tutorial_id: params[:tutorial_id], id: slide.id) %></td>
        <td><%= link_to 'Destroy', tutorial_slide_path(tutorial_id: params[:tutorial_id], id: slide.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slide', new_tutorial_slide_path %>

</div>
