<div class="wrapper">
	<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @slide.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @slide.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= slide_image_for @slide %>
</p>

<%= link_to 'Edit', edit_category_tutorial_slide_path(category_id: params[:category_id], tutorial_id: params[:tutorial_id], id: @slide.id) %> |
<%= link_to 'Back', category_tutorial_path(category_id: params[:category_id], id: params[:tutorial_id]) %>

</div>



