
<div class="wrapper">
    <div class="">
        <%= link_to usertutorial_path(id: usertutorial) do %>
            <div class="recent-tutorials-images">
              <%= usertutorial_image_for2 usertutorial %>
            </div>
        <% end %> 
        
        	<div class="recent-tutorials-details">
                <div id="sample_goal"></div>
                <br><br>
                <span><%= usertutorial.title %></span>

                <p><%= usertutorial.description %></p>
                <% usertutorial.user_id %>
                <br>
                
            </div>

            <%= link_to 'はじめる', usertutorial_path(id: usertutorial), class: "btn btn-pink" %>
             
    </div>
</div>



<script>
$(document).ready(function(){
    $('#sample_goal').goalProgress({
        goalAmount: 100,
        currentAmount: 20,
        textBefore: '',
        textAfter: ' %'
    });
});
</script>