<div class="wrapper">

  <!-- ユーザー情報 -->
  <aside class="user">
    <section>
  		<h1>
  		  <%= profile_image_for @user %>
  		  <%= @user.name %>
  		</h1>
	  </section>
  </aside>


  <!-- 自分の？チュートリアル一覧 -->
  <div class ="user-tutorials">
    <% if @user.tutorials.any? %>
      <h3>Tutorials (<%= @user.tutorials.count %>)</h3>
      <ol class="">
        <%= render @tutorials %>
      </ol>
      <%= will_paginate @tutorials %>
    <% end %>
  </div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</div>









