<div class="wrapper">

  <!-- ユーザー情報 -->
  <div class="user">
    <section>
  		<h1>
  		  <%= profile_image_for @user %>
  		  <%= @user.name %>
  		</h1>
	  </section>
  </div>

  <!-- 自分の？チュートリアル一覧 -->
  <div class ="user-tutorials">

    <% if @user.usertutorials.any? %>
      <h3>Tutorials (<%= @user.usertutorials.count %>)</h3>
      <ol class="">
        <%= render @usertutorials %>
      </ol>
    <% end %>
  </div>

  <div class ="like-usertutorials">
    <% if @user.like_usertutorials.any? %>
      <h3>Likes (<%= @user.like_usertutorials.count %>)</h3>
      <ol class="">
        <%= render @user.like_usertutorials %>

      </ol>
    <% end %>
  </div>

  <div class ="favorite-products">
    <% if @user.favorite_products.any? %>
      <h3>Likes (<%= @user.favorite_products.count %>)</h3>
      <ol class="">
        <%= render @user.favorite_products %>
      </ol>
    <% end %>
  </div>  

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', root_path %>

</div>









