
      <tr>
        <td><%= tutorial.title %></td>
        <td><%= tutorial_image_for tutorial %></td>
        <td><%= tutorial.user_id %></td>
        <td><%= tutorial.description %></td>       
        <td><%= link_to 'Show', category_tutorial_path(category_id: params[:id],id: tutorial) %></td>
        <td><%= link_to 'Edit', edit_category_tutorial_path(category_id: params[:id], tutorial_id: tutorial) %></td>
        <td><%= link_to 'Destroy', category_tutorial_path(category_id: params[:id], tutorial_id: tutorial), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
