<div class="wrapper">
  <div class="top-img">
    <div class="white-bg3">
        <div class="titles">
          <h1>Tutorials</h1>
          <p>
            他の人が投稿したチュートリアルを見て、<br>
            もっとデザインの幅を広げてみよう！
          </p>
        </div>
    </div>
  </div>

  <%= link_to 'New Tutorial', new_tutorial_path, class: "btn btn-pink" %>


  <div class="listing-tutorials">
        <% @tutorials.each do |tutorial| %>
          <ul>
            <%= link_to tutorial_path(id: tutorial.id) do %>
              <div class="overlay"></div>
              <li><%= tutorial_image_for tutorial %></li>
              <li><h3><%= tutorial.title %></h3></li>
              <li><%= tutorial.user_id %></li>
              <li><%= tutorial.description %></li>
            <% end %>

            <div class="edit">
              <li><i class="fa fa-edit"></i><%= link_to '編集', edit_tutorial_path(id: tutorial.id) %></li>
              <li><i class="fa fa-trash"></i><%= link_to '削除', tutorial_path(id: tutorial.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </div>
              


          </ul>
        <% end %>
  </div>
</div>



