<div class="wrapper">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tutorial.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @tutorial.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tutorial.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= tutorial_image_for @tutorial %>
</p>




<%= link_to 'Edit', edit_category_tutorial_path(category_id: params[:category_id], id: @tutorial.id) %> |
<%= link_to 'Back', category_path(id: params[:category_id]) %>


<%= link_to "Create New Slide!", new_category_tutorial_slide_path(category_id: params[:category_id], tutorial_id: @tutorial.id) , class: "btn btn-large btn-primary" %>

<% if @tutorial.slides.any? %>
  <h3>Slides (<%= @tutorial.slides.count %>)</h3>
  <table>
    <%= render @slides %>
  </table>
  <%= will_paginate @slides %>
<% end %>
</div