<div class="wrapper">
  <h1>Listing slides</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @userslides.each do |userslide| %>
      <tr>
        <td><%= userslide.title %></td>
        <td><%= userslide.body %></td>
        <td><%= userslide_image_for userslide %></td>
        <td><%= link_to 'Show', usertutorial_userslide_path(usertutorial_id: params[:usertutorial_id], id: userslide.id) %></td>
        <td><%= link_to 'Edit', edit_usertutorial_userslide_path(usertutorial_id: params[:usertutorial_id], id: userslide.id) %></td>
        <td><%= link_to 'Destroy', usertutorial_userslide_path(usertutorial_id: params[:usertutorial_id], id: userslide.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slide', new_usertutorial_userslide_path %>

</div>
