
  <p id="notice"><%= notice %></p>

    <div class="top-img">
      <div class="titles">
        <span>
          <%= @category.title %>
        </span>
        <p>
          <%= @category.description %>
          Photoshopの基礎をやっていこうとおもいます。
          Photoshopの基礎をやっていこうとおもいます。
          Photoshopの基礎をやっていこうとおもいます。
        </p>
      </div>

      <div class="clear"></div>

      <div class="titles-img">
        <p>
          <%= category_image_for @category %>
        </p>
      </div>
    </div>


 
<div class="wrapper">
  <div class="category-tutorials">
    <% if @category.tutorials.any? %>
      <h3>
        Tutorials (<%= @category.tutorials.count %>)
      </h3>


      <%= render @tutorials %>


      <%= will_paginate @tutorials %>
    <% end %>
  </div>

</div>