
  <p id="notice"><%= notice %></p>

    <div class="top-img">
      <div class="titles">
        <span>
          <%= @category.title %>
        </span>
        <p>
          <%= @category.description %>
          Photoshopの基礎をやっていこうとおもいます。
          Photoshopの基礎をやっていこうとおもいます。
          Photoshopの基礎をやっていこうとおもいます。
        </p>
      </div>

      <div class="clear"></div>

      <div class="titles-img">
        <p>
          <%= category_image_for @category %>
        </p>
      </div>
    </div>


 
<div class="wrapper">
  <div class="category-tutorials">
    
      <h3>
        Tutorials 
      </h3>


      

      


    

    <%= link_to '自分のチュートリアルを作る', new_tutorial_path, class: "btn btn-pink" %>
  </div>

</div>