<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= category_image_for @category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<%= link_to "Create New Tutorial!", new_category_tutorial_path(category_id: params[:id]), class: "btn btn-large btn-primary" %>

<% if @category.tutorials.any? %>
  <h3>Tutorials (<%= @category.tutorials.count %>)</h3>
  <table>

    <thead>
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>User</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <%= render @tutorials %>
  </tbody>
  </table>
  <%= will_paginate @tutorials %>
<% end %>