
<div class="products">
<ul>
  <%= link_to product_path(id: product.id) do %>

    <div class="overlay"></div>
    <li><%= image_tag(product.image_url) if product.image.present? %></li>
    <li><h3><%= product.title %></h3></li>
  <% end %>
    <li><%= product.user_id %></li>
    <li><%= product.description %></li>


  <div class="edit">

    <li><i class="fa fa-edit"></i><%= link_to 'Edit', edit_product_path(product) %></li>
    <li><i class="fa fa-trash"></i><%= link_to 'Destroy', product, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></li>
    <li><%= render 'favorites/favorite_btn', product: product %></li>

  </div>
</ul>

</div>


