<<<<<<< HEAD
=======
<div class="wrapper">
>>>>>>> f6bb75c31e0792df9b91a7d9c4159eacb3eeaad1
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image:</strong>
<<<<<<< HEAD
  <%= image_tag(@product.image_url, width: 600) if @product.image.present? %>
=======
  <%= image_tag(@product.image_url) if @product.image.present? %>
>>>>>>> f6bb75c31e0792df9b91a7d9c4159eacb3eeaad1
</p>

<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<<<<<<< HEAD
=======
</div>
>>>>>>> f6bb75c31e0792df9b91a7d9c4159eacb3eeaad1
